extends layout

block content
    div(class='container')
        div(class='collapse navbar-collapse')
            a(href='/products', title='List Products') List Products
        h2 Edit Product
        form(method='post', action='/products/edit/#{product._id}')
            div(class='col-lg-8 col-lg offset-2')
                div(class='row control-group')
                    label Title
                    input(name='title', required, placeholder='title', value='#{product.title}')
                div(class='row control-group')
                    label Description
                    textarea(name='description', required, placeholder='description') #{product.description}
                div(class='row control-group')
                    label Price
                    input(name='price', required, placeholder='price', type='number', value='#{product.price}')
                input(type='hidden', name='id' value='#{product._id}')
                input(type='submit', value='Update Product')
